@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
/* fonts import */
@import url("../fonts/octin_sports_rg.ttf");
body {
  font-family: "Poppins", sans-serif;
  background: url("../images/bmw.jpg") no-repeat center center / cover fixed;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.long_section {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
}

.heading_container h2 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -100px;
  background-color: black;
  width: 300%;
  left: -100%;
  padding: 20px;

}

.heading_container.heading_center {
  align-items: center;
  text-align: center;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

/*header section*/
/*end header section*/
/* slider section */
.slider_section {
  min-height: 70vh;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.slider_section .row {
  align-items: center;
}

.slider_section .detail-box {
  position: relative;
  z-index: 4;
  color: #ffffff;
  padding: 75px 0;
}

.slider_section .detail-box h1 {
  font-weight: bold;
  font-size: 3rem;
}

.slider_section .detail-box p {
  width: 75%;
  margin-top: 15px;
}

.slider_section .detail-box .slider-link {
  padding: 10px 40px;
  background-color: transparent;
  color: #fd9c6b;
  border-radius: 5px;
  border: 1px solid #fd9c6b;
  transition: all .2s;
  margin-top: 35px;
}

.slider_section .detail-box .slider-link:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

.slider_section .slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
}

.slider_section .slider_bg_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}

.shop_section .heading_container {
  margin-bottom: 20px;
}

.shop_section .box {
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
  margin-top: 25px;
}

.shop_section .box a {
  color: #000000;
}

.shop_section .box .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  height: 245px;
}

.shop_section .box .img-box img {
  max-width: 100%;
  max-height: 145px;
}

.shop_section .box .detail-box {
  display: flex;
  justify-content: space-between;
}

.shop_section .box .detail-box h6 span {
  color: #fd9c6b;
}

.shop_section .box .new {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 15px;
}

.shop_section .btn-box {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.shop_section .btn-box a {
  padding: 10px 40px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  transition: all .2s;
}

.shop_section .btn-box a:hover {
  background-color: transparent;
  color: #fd9c6b;
}

.about_section .row {
  align-items: center;
}

.about_section .img-box {
  position: relative;
  padding: 25px 0 0 25px;
}

.about_section .img-box img {
  width: 100%;
  position: relative;
}

.about_section .img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  background-color: #160e0b;
}

.about_section .detail-box p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.about_section .detail-box a {
  padding: 10px 45px;
  background-color: #fd9c6b;
  color: #ffffff;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  transition: all .2s;
}

.about_section .detail-box a:hover {
  background-color: transparent;
  color: #fd9c6b;
}

.offer_section .row > div {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.offer_section .box {
  margin: 10px;
  height: 100%;
  position: relative;
  min-height: 175px;
}

.offer_section .box img {
  width: 100%;
  min-height: 100%;
}

.offer_section .box .detail-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #ffffff;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.15);
}

.offer_section .box .detail-box h2 {
  font-weight: bold;
}

.offer_section .box .detail-box a {
  padding: 8px 40px;
  background-color: transparent;
  color: #fd9c6b;
  border-radius: 0;
  border: 1px solid #fd9c6b;
  transition: all .2s;
  margin-top: 10px;
}

.offer_section .box .detail-box a:hover {
  background-color: #fd9c6b;
  color: #ffffff;
}

.offer_section .box.offer-box1 {
  min-height: 225px;
}

.offer_section .box.offer-box1 .detail-box {
  justify-content: flex-start;
}

.offer_section .box.offer-box1 .detail-box h2 {
  font-size: 3rem;
}

.offer_section .box.offer-box2 .detail-box h2, .offer_section .box.offer-box3 .detail-box h2 {
  font-size: 2rem;
}

.offer_section .box.offer-box2 .detail-box {
  align-items: flex-end;
  justify-content: flex-end;
}

.offer_section .box.offer-box3 .detail-box {
  align-items: flex-start;
  justify-content: flex-end;
}

.blog_section .heading_container {
  align-items: center;
}

.blog_section .heading_container h2::before {
  left: 50%;
  transform: translateX(-50%);
}

.blog_section .box {
  margin-top: 55px;
  background-color: #545c64;
}

.blog_section .box .img-box {
  position: relative;
}

.blog_section .box .img-box .blog_date {
  position: absolute;
  left: 25px;
  bottom: -15px;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #160e0b;
  margin: 0;
  text-align: center;
  border: 3px solid #ffffff;
  color: #ffffff;
}

.blog_section .box .img-box img {
  width: 100%;
}

.blog_section .box .detail-box {
  margin-top: 10px;
  padding: 25px;
  color: floralwhite;
}

.blog_section .box .detail-box h5 {
  font-weight: bold;
}

.blog_section .box .detail-box p {
  font-size: 15px;
}

.blog_section .box .detail-box a {
  padding: 10px 30px;
  background-color: transparent;
  color: #160e0b;
  border-radius: 0;
  border: 1px solid #160e0b;
  transition: all .2s;
}

.blog_section .box .detail-box a:hover {
  background-color: #160e0b;
  color: #ffffff;
}

.client_section .heading_container {
  align-items: center;
}

.client_section .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 45px;
  padding: 35px 25px;

}